.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.cardbgcolour {
    background-color: #f5f1e1;
}

.bordercolour{
    border-color: #1e3d59;
    border-width: thick;
}

.headerbgcolour {
    background-color: #f5f1e1;
}

h5, p {
    color: black;
}