<div id="mySidenav" class="sidenav">
  <a class="nav-item nav-link" href="home">Főoldal</a>
  <a class="nav-item nav-link" href="registration">Regisztráció</a>
  <a class="nav-item nav-link" (click)="logout()" *ngIf="user">Kijelentkezés</a>
  <a class="paddingbottom" *ngIf="user">Csoportok</a>
  <div *ngIf="user">
  <a class="grouppadding" href="group/{{group.groupId}}" *ngFor="let group of groups">- {{group.groupName}}</a>
  </div>
  <div class="row grouppadding" *ngIf="user">
    <input class="col-12" [(ngModel)]="groupName" placeholder="Új csapat neve">
  </div>
  <div class="row d-flex justify-content-center pt-2">
    <button class="btn button-color" type="button" (click)="createGroup()">Létrehozás</button>
  </div>
</div>