.sidenav {
    height: 100%;
    width: 16%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #1e3d59; 
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px; /* Place content 60px from the top */
  }

  .paddingbottom{
    padding-bottom: 2px !important;
  }

  .grouppadding{
    padding-left: 32px !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
  }

  .button-color {
    background-color: #f5f1e1  ;
    color: #ff6e40;
    font-weight: bold;
  }

  .sidenav a {
    padding: 8px 8px 8px 24px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    color: #f5f1e1;
    display: block;
  }
  
  .sidenav a:hover {
    color: #3C3C3C;
  }

  input, select {
    height: 40px;
    width: 100%;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid  #f5f1e1;
    color: #f5f1e1;
  }