<div id="mySidenav" class="sidenav">
  <a class="nav-item nav-link" (click)="logout()" *ngIf="user">Logout</a>
  <a class="paddingbottom" *ngIf="user">Csoportok</a>
  <div *ngIf="user">
  <a class="grouppadding" href="group/{{group.groupId}}" *ngFor="let group of groups">- {{group.groupName}}</a>
  </div>
  <div class="row grouppadding" *ngIf="user">
    <input class="col-12" [(ngModel)]="groupName" placeholder="Új csapat neve">
  </div>
  <button class="btn btn-primary d-flex justify-content-center" type="button" (click)="createGroup()">Létrehozás</button>
</div>